* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffffe0;
    
}
main{
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
     "h h h"
     "n n n"
     "a ar ar"
     "f f f" ;
     gap: 20px;
     background-color: white;
     max-width: 1200px;
}
header{
    grid-area: h;
    text-align: left;
    color:#127722;
}
nav{
    grid-area: n;
    background-color: #127722;
    display: grid;
    grid-template-columns: 120px 120px 120px;
    text-align: left;
    gap: 0px;
    padding: 10px;
}
nav a{
    color: #add68c;
    text-decoration: none;
    padding: 5px;
}
nav a:hover{
    text-decoration: underline;
}
aside{
    grid-area: a;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    max-height: auto;
}
img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    display: block;
    border: lightgray 2px solid;
    padding: 2px;
}
article{
    grid-area: ar;
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.card{
    border-radius: 10px;
    border: solid 2px lightgray;
}
.card h2{
    color: #127722;
    background-color: #f1efef;
    padding: 10px;
    font-size: 15px;
    text-align: left;
}
footer{
    grid-area: f;
    color: #127722;
    text-align: center;
    padding: 20px;
}